<!-- <div class="sidebar">
  <div class="sidebar-about">
    <h1><a href="/">{{ site.title }}</a></h1>
    <p class="lead">{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/">Home</a>
    <a class="sidebar-nav-item" href="/academics">Academics</a>
    <a class="sidebar-nav-item" href="/experience">Experience</a>
    <a class="sidebar-nav-item" href="/int_trade_posts">International Trade Posts</a>


  </nav>

  <div class="sidebar-footer">
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
-->
